
[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[credential]
  helper = /usr/share/git/credential/libsecret/git-credential-libsecret

[user]
	name = filipfit
	mail = filipfitzermann@gmail.com
	email = filipfitzermann@gmail.com
