#!/bin/bash
xinput set-prop "Corsair CORSAIR SCIMITAR RGB ELITE Gaming Mouse" "libinput Accel Profile Enabled" 0 1 0
xinput set-prop "Corsair CORSAIR SCIMITAR RGB ELITE Gaming Mouse" "libinput Accel Speed" 0.3
xrandr --output DP-2 --mode 2560x1440 --rate 143.97
xrandr --output DP-4 --mode 1920x1080 --rate 144.00
setxkbmap eu
# export XDG_CURRENT_DESKTOP="X-Generic"
export XDG_ICON_THEME="Papirus"
